body {
    background: #8e9eab;
    background: linear-gradient(45deg, #8e9eab 0%, #eef2f3 100%) no-repeat;
    color: var(--main-p-color);
    height: 100vh;
    font-family: Nunito, sans-serif;
    display: grid;
    place-items: center;
}

.all-content {
    width: 375px;
    height: 812px;
    border: 2px solid black;
    border-radius: 5px;
    background: rgb(189,63,50);
    background: linear-gradient(45deg, rgba(189,63,50,1) 0%, rgba(232,113,129,1) 100%) no-repeat;
    position: relative;
    overflow: hidden;
}

h1 {
    font-size: 48px;
    z-index: 50;
}

header {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 650px;
}

.container {
    position: relative;
    top: 120px;
}

.wall-sponsor {
    position: absolute;
    bottom: 10px;
    right: 30px;
    height: 60px;
    width: 60px;
}

.mons-sponsor {
    position: absolute;
    bottom: 20px;
    right: 100px;
    height: 25px;
    width: 100px;
}

header > img {
    position: absolute;
}

.accueil-header {
    top: 40px;
}

.dragon-head {
    z-index: 0;
    position: absolute;
    left: 50px;
    width: 111px;
    height: 122px;
    top: -10px;
}

.form-search {
    position: relative;
    width: 100%;
    height: 100px;
    display: grid;
    place-items: center;
}

.reasearch {
    position: relative;
}

.reasearch > p {
    width: 300px;
}

.reasearch > p > input[type="text"] {
    width: 100%;
    height: 65px;
    border: none;
    border-radius: 32.5px;
}

.icon-search {
    position: absolute;
    right: 15px;
    top: 15px;
    opacity: 0.6;
}

.reasearch > input[type="submit"] {
    height: 30px;
    border: none;
    background: #8D1D12;
    color: white;
    font-weight: bolder;
    border-radius: 15px;
    padding: 5px 10px;
    cursor: pointer;
    position: absolute;
    top: 75px;
    right: 0;
}

.reasearch > input[type="submit"]:hover {
    background-color: #b8463c;
}

.img-rider {
    display: grid;
    place-items: center;
    width: 100%;
    height: 170px;
    margin: 20px 0 -10px 0;
}

.accueil-rider {
    width: 205px;
    height: 152px;
}

.accueil-covoiturage {
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 0;
    background: white;
    height: 207px;
    width: 211px;
    border-radius: 50%;
    transform: translateX(-40%) translateY(40%);
    text-decoration: none;
}

.accueil-covoiturage > span {
    display: inline-block;
    position: absolute;
    left: 95px;
    top: 50px;
    color: var(--first-bg-color);
    font-weight: 600;
}

.accueil-covoiturage > span > box-icon {
    display: inline-block;
    position: absolute;
    left: 30px;
    top: 20px;
}

.parcours {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 150px;
}

.parcours > a {
    display: grid;
    place-items: center;
    width: 115px;
    height: 70px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    color: #BD3F32;
    font-weight: bold;
    padding: 5px;
}