{% extends 'layouts/base.html' %}

{% block content %}

{% load static %}
<header class="accueil-header">
    <img class="dragon-head" src="{% static 'app/img/g3.png' %}" alt="dragon">
    <h1>Mons</h1>
    <a href="/profile/"><box-icon name="user-circle" type="solid" size="lg" color="white"></box-icon></a>
</header>

<div class="container">
    <div class="form-search">
        <form class="reasearch" action="/destination/" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <box-icon class="icon-search" name='search' size="md" color="#B8B8B8"></box-icon>
            <input type="submit" value="Rechercher">
        </form>
    </div>

    <div class="img-rider">
        <img class="accueil-rider" src="{% static 'app/img/undraw_Ride_a_bicycle_2yok.svg' %}" alt="">
    </div>

    <div class="parcours">
        <a href="#">Parcours favori</a>
        <a href="#">Parcours enregistré</a>
    </div>
</div>

<a href="#" class="accueil-covoiturage"><span><box-icon name="car" type="solid" size="md" color="#bd3f32"></box-icon> Covoiturage</span></a>

<footer>
    <ul>
        <li><img class="wall-sponsor" src="{% static 'app/img/wallonie_coq_fb.png' %}" alt=""></li>
        <li><img class="mons-sponsor" src="{% static 'app/img/7a6d55fa-ddcc-4dde-b2b8-e741dea7face.png' %}" alt=""></li>
    </ul>
</footer>

{% endblock %}