{% extends 'layouts/base.html' %}

{% block content %}

<header>
    <img src="" alt="dragon">
    <h1>Mons</h1>
    <a href="/profile/"><box-icon name="user-circle" type="solid"></box-icon> account</a>
</header>

<div class="container">
    <div class="reasearch">
        <input type="text" placeholder="Nouvelle destination...">
        <input type="checkbox" name="save" id="save" value="save">
        <label for="save">Enregistrer mon trajet</label>
    </div>

    <img src="" alt="velo">

    <div class="parcours">
        <a href="#">Parcours favori</a>
        <a href="#">Parcours enregistré</a>
    </div>
</div>

<div class="covoiturage"><box-icon name="car" type="solid"></box-icon> Covoiturage</div>

<footer>
    <ul>
        <li>Wallonnie</li>
        <li>Mons</li>
    </ul>
</footer>

{% endblock %}