{% extends 'layouts/base.html' %}

{% block content %}

<header>
    <a href="/"><box-icon name='arrow-back' size="lg" color="white"></box-icon></a>
    <h1>Parcours</h1>
</header>

<div class="container-parcours">
    <box-icon name="{{ icon_type }}" color="white" animation="tada-hover" size="lg"></box-icon>
    <div class="trajet">
        <span class="trajet-title">Trajet de</span> 
        <span>{{ start_location.address }}</span>
    </div>

    <div class="trajet">
        <span class="trajet-title">Jusque</span> 
        <span>{{ end_location.address }}</span>
    </div>

    <div class="infos">
        <div class="distance">
            <span>Distance</span>
            <span>{{ distance|floatformat }} km</span>
        </div>
    
        <div class="distance">
            <span>Emissions</span>
            <span>{{ conso }} g/km CO²</span>
        </div>
    </div>
    
    <a class="valider" href="/parcours_validation/">Valider le trajet</a>
</div>

<footer class="parcours-foot">
    {% if transport == 'car' %}
    <span class="covoiturage-back"></span>
    <a class="covoiturage" href="#">Covoiturage</a>
    {% endif %}
    <span class="circulation-back"></span>
    <a class="circulation" href="#">Circulation</a>
</footer>

{% endblock %}