{% extends 'layouts/base.html' %}

{% block content %}

<header>
    <a href="/profile/"><box-icon name='arrow-back' size="lg" color="white"></box-icon></a>
    <h1>Mes points</h1>
</header>

<div class="container-points">
    <div class="points">Mes points : <span>{{ pts }}</span></div>
    
    <div class="points-list">
        <ul>
            {% for info in infos %}
            <li>{{ info.date|date:"d M Y" }} | {{ info.trajet }} | {{ info.statut }}</li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}