{% extends 'layouts/base.html' %}

{% block content %}

<header>
    <a href="/">Home</a>
    <h1>Parcours</h1>
</header>

<ul>
    <li><a href="#">à pieds</a> : {{ duration_trip.foot|floatformat }} heures</li>
    {% if not eco %}
    <li><a href="#">en voiture</a> : {{ duration_trip.car|floatformat }} heures</li>
    {% endif %}
</ul>

<ul>
    Cambios
    {% for camb in cambios %}
    <li><a href="#">{{ camb.car_name }}</a> à {{ camb.car_dist|floatformat }} km.</li>
    {% endfor %}
</ul>

<ul>
    Gares
    {% for gare in gares %}
    <li><a href="#">{{ gare.gare_name }}</a> à {{ gare.distance|floatformat }} km.</li>
    {% endfor %}
</ul>


{% endblock %}