{% extends 'layouts/base.html' %}

{% block content %}

<header>
    <a href="/"><box-icon name='arrow-back' size="lg" color="white"></box-icon></a>
    <h1>Parcours</h1>
</header>


<div class="container-trajet">
        {% if busy_hours %}
    <div class="alert">
        <p>Attention! Vous comptez partir pendant les heures de pointe.</p>
        <p>Les retards sont pris en compte ci-dessous.</p>
    </div>
    {% endif %}

    <ul>
        <li><a href="/parcours/walk/"><box-icon name='walk' color="#8D1D12"></box-icon><span>à pieds</span> <span>{{ duration_trip.foot|floatformat:"0" }} min</span></a></li>
    
        <li><a href="/parcours/cycling/"><box-icon name='cycling' color="#8D1D12"></box-icon><span>à vélo</span> <span>{{ duration_trip.bike|floatformat:"0" }} min</span></a></li>
    
        {% if not eco %}
        <li><a href="/parcours/car/"><box-icon name='car' color="#8D1D12"></box-icon><span>en voiture</span> <span>{{ duration_trip.car|floatformat:"0" }} min</span></a></li>
        {% endif %}
    
        {% if gare %}
        <li><a href="/parcours/bus/"><box-icon name='bus' color="#8D1D12"></box-icon><span>en bus</span> <span>{{ duration_trip.bus|floatformat:"0" }} min</span></a></li>
        {% endif %}

        {% if gare %}
        <li><a href="/parcours/train/"><box-icon name='train' color="#8D1D12"></box-icon><span>en train</span></a></li>
        {% endif %}
    
        {% if rent_car %}
        <li><a href="/parcours/taxi/"><box-icon name='taxi' color="#8D1D12"></box-icon><span>en voiture de location</span></a></li>
        {% endif %}
    </ul>
</div>


{% endblock %}